@model BlessedMuslim.Models.BusinessCategories;
@{
    ViewData["Title"] = "View Business Categories";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>View Business Categories</h4>
    <hr />
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text width-100" id="inputGroup-sizing-sm">Short Description</span>
                </div>
                @Html.EditorFor(model => model.Sdesc, new
                {
                    htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled" }
                })
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text width-100" id="inputGroup-sizing-sm">Long Description</span>
                </div>
                @Html.EditorFor(model => model.Ldesc, new
                {
                    htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled" }
                })
            </div>
        </div>
    </div>

    <a asp-action="Index">Back to List</a>

    @if (!String.IsNullOrEmpty(ViewBag.error))
    {
        <div class="mt-2">
            <div class="alert alert-danger" role="alert">
                @ViewBag.error
            </div>
        </div>
    }

    @if (!String.IsNullOrEmpty(ViewBag.result))
    {
        <div class="mt-2">
            <div class="alert alert-success" role="alert">
                @ViewBag.result
            </div>
        </div>
    }

</div>
}

