@model BlessedMuslim.Models.DsrApplicationFormView;
@{
    ViewData["Title"] = "View Applicants Detail";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h6>View Applicants</h6>
        <hr />
        <div class="row">
            <div class="col-12 col-md-6">
                <h6>Applicant Photo</h6>
                <div class="input-group input-group-sm mb-3">
                    <img id="user_img" alt="N/A"
                         height="250"
                         width="250"
                         style="border: 1px solid ; float: right; margin-bottom: 20px; " src="~/Documents/@Model.Photo" />
                </div>

            </div>
            <div class="col-12 col-md-6">
                <h6>Applicant ID Card</h6>
                <div class="input-group input-group-sm mb-3">
                    <img id="user_Doc" alt="N/A"
                         height="250"
                         width="250"
                         style="border: 0px ; float: right; margin-bottom: 20px; " src="~/Documents/@Model.IdPhoto" />
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">First Name</span>
                    </div>
                    @Html.EditorFor(model => model.FirstName, new
               {
                   htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled" }
               })

                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Last Name</span>
                    </div>
                    @Html.EditorFor(model => model.LastName, new
               {
                   htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled" }
               })

                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Gender</span>
                    </div>

                    @Html.DropDownListFor(model => model.Gender, new List<SelectListItem>{
        new SelectListItem{ Text="Male", Value="Male"},
        new SelectListItem{ Text="Female", Value="Female"}
        }, "--- Select Gender ---", new { @class = "form-control", required = "required", @disabled = "disabled" })

                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Date Of Birth</span>
                    </div>
                    @Html.EditorFor(model => model.Dob, new
               {
                   htmlAttributes =
                    new { @class = "form-control", required = "required", type = "date" , @disabled = "disabled" }
               })

                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Contact Number</span>
                    </div>
                    @Html.EditorFor(model => model.ContactNumber, new
               {
                   htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled" }
               })

                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Email</span>
                    </div>
                    @Html.EditorFor(model => model.Email, new
               {
                   htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled" }
               })

                </div>
            </div>
            <div class="col-12 col-md-12">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Address Line 1</span>
                    </div>
                    @Html.EditorFor(model => model.AddressLine1, new
               {
                   htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled" }
               })

                </div>
            </div>
            <div class="col-12 col-md-12">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Address Line 2</span>
                    </div>
                    @Html.EditorFor(model => model.AddressLine2, new
               {
                   htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled" }
               })

                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Post Code</span>
                    </div>
                    @Html.EditorFor(model => model.PostCode, new
               {
                   htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled" }
               })

                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Interested Area</span>
                    </div>
                    @Html.EditorFor(model => model.AreaName, new
               {
                   htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled" }
               })

                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Phone 1</span>
                    </div>
                    @Html.EditorFor(model => model.Phone1, new
               {
                   htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled" }
               })

                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Phone 2</span>
                    </div>
                    @Html.EditorFor(model => model.Phone2, new
               {
                   htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled" }
               })

                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Date Of Joining</span>
                    </div>
                    @Html.EditorFor(model => model.DateOfJoining, new
               {
                   htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled",  type = "date" }
               })

                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Account #</span>
                    </div>
                    @Html.EditorFor(model => model.AccountNo, new
               {
                   htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled", @maxlength = "8" }
               })

                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Sort Code</span>
                    </div>
                    @Html.EditorFor(model => model.SortCode, new
               {
                   htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled", @pattern = "[0-9]{2}-[0-9]{2}-[0-9]{2}", @placeholder = "XX-XX-XX" }
               })

                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Reference Code</span>
                    </div>
                    @Html.EditorFor(model => model.ReferenceCode, new
               {
                   htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled" }
               })

                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Submit Date</span>
                    </div>
                    @Html.EditorFor(model => model.SubmitDate, new
                       {
                           htmlAttributes =
                            new { @class = "form-control", required = "required", @disabled = "disabled", type = "date" }
                       })

                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Approved Date</span>
                    </div>
                    @Html.EditorFor(model => model.ApprovedDate, new
                       {
                           htmlAttributes =
                            new { @class = "form-control", required = "required", @disabled = "disabled", type = "date" }
                       })

                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Rejected Date</span>
                    </div>
                    @Html.EditorFor(model => model.RejectedDate, new
                       {
                           htmlAttributes =
                            new { @class = "form-control", required = "required", @disabled = "disabled", type = "date" }
                       })

                </div>
            </div>
           @* <div class="col-12 col-md-12">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Remarks</span>
                    </div>
                    @Html.EditorFor(model => model.Remarks, new
               {
                   htmlAttributes =
                    new { @class = "form-control", @disabled = "disabled" }
               })

                </div>
            </div>*@

             <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Remarks</span>
                    </div>
                    @Html.TextAreaFor(model => model.Remarks,
               
                    new { @class = "form-control", @disabled = "disabled", style = "width:70% !important;", rows="3" })

                </div>
            </div>
        </div>
    

    <a asp-action="Index">Back to List</a>

    @if (!String.IsNullOrEmpty(ViewBag.error))
    {
        <div class="mt-2">
            <div class="alert alert-danger" role="alert">
                @ViewBag.error
            </div>
        </div>
    }

    @if (!String.IsNullOrEmpty(ViewBag.result))
    {
        <div class="mt-2">
            <div class="alert alert-success" role="alert">
                @ViewBag.result
            </div>
        </div>
    }

    </div>
}

