@model BlessedMuslim.Models.RetailersView;
@{
    ViewData["Title"] = "Details";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Retailers</h4>
        <hr />
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Business Name</span>
                    </div>
                    @Html.EditorFor(model => model.BusinessName, new
               {
                   htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled" }
               })

                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Business Category Name</span>
                    </div>
                    @Html.EditorFor(model => model.BusinessCatName, new
               {
                   htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled" }
               })

                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">City</span>
                    </div>
                    @Html.EditorFor(model => model.City, new
               {
                   htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled" }
               })

                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Post Code</span>
                    </div>
                    @Html.EditorFor(model => model.PostCode, new
               {
                   htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled" }
               })

                </div>
            </div>

            <div class="col-12 col-md-12">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Address Line 1</span>
                    </div>
                    @Html.EditorFor(model => model.AddressLine1, new
               {
                   htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled" }
               })

                </div>
            </div>
            <div class="col-12 col-md-12">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Address Line 2</span>
                    </div>
                    @Html.EditorFor(model => model.AddressLine2, new
               {
                   htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled" }
               })

                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Email</span>
                    </div>
                    @Html.EditorFor(model => model.Email, new
               {
                   htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled" }
               })

                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Contact Person</span>
                    </div>
                    @Html.EditorFor(model => model.ContactPerson, new
               {
                   htmlAttributes =
                    new { @class = "form-control", required = "required", @disabled = "disabled" }
               })

                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Shop Phone</span>
                    </div>
                    @Html.EditorFor(model => model.ShopPhone, new
                       {
                           htmlAttributes =
                            new { @class = "form-control", required = "required", @disabled = "disabled" }
                       })

                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">MobileNumber</span>
                    </div>
                    @Html.EditorFor(model => model.MobileNumber, new
                       {
                           htmlAttributes =
                            new { @class = "form-control", required = "required", @disabled = "disabled" }
                       })

                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Reference Code</span>
                    </div>
                    @Html.EditorFor(model => model.RefCode, new
                       {
                           htmlAttributes =
                            new { @class = "form-control", required = "required", @disabled = "disabled" }
                       })

                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Created Date</span>
                    </div>
                    @Html.EditorFor(model => model.RefCode, new
                       {
                           htmlAttributes =
                            new { @class = "form-control", required = "required", @disabled = "disabled" }
                       })

                </div>
            </div>
        </div>


        <a asp-action="Index">Back to List</a>

    </div>
}